<ion-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Home</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 30px;"></div>
        <h2 id="page-heading1" style="color:black;font-weight:400;text-align:center;">Interest Calculator</h2>
        <div class="spacer" style="height: 30px;"></div>
        </div>
        <a ui-sref="Simple" style="color:#444444;" class="button button-energized  button-block">Simple Interest</a>
        <a ui-sref="Compound" id="inventory-button4" style="color:#444444;" class="button button-balanced  button-block">Compound Interest</a>
    </ion-content>
</ion-view>